<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRei's Burguer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/principal.css"> 
</head>
<body>
    <nav class="nav-superior">
        <ul id="menu-principal">
            <li>DRei's Burguer</li>
            <li><a href="./sobre.html">Sobre</a></li>
        </ul>
    </nav>

    <h1>Bem-vindo à Nossa Hamburgueria!</h1>

    <!-- Banner com imagem reduzida -->
    <div class="banner">
        <img src="/img/LanchePNG.png" alt="Hamburguer">
    </div>

    <main id="container-principal">
        <p class="dm-serif-display-regular">Buscamos melhor atender todos os nossos clientes,
            preparando hamburguers com ingredientes selecionados e de maior qualidade.
        </p>
    </main>

    <section id="card-container">
        <h2 class="bodoni-moda-sc">Cardápio</h2>

        <div class="card"> 
            <div class="card-img"></div>
            <div class="card-body">
                <h3>X-Principe</h3>
                <p>Pão, hamburguer de frango, alface, milho e queijo parmesão</p>
            </div>
        </div>

        <div class="card"> 
            <div class="card-img"></div>
            <div class="card-body">
                <h3>X-Rei</h3>
                <p>Pão, 2 hamburguer, presunto, queijo, tomate, alface, ovo, milho e bacon</p>
            </div>
        </div>

        <div class="card"> 
            <div class="card-img"></div>
            <div class="card-body">
                <h3>X-Cavaleiro</h3>
                <p>Pão, hamburguer, bacon fatiado, queijo e alface</p>
            </div>
        </div>
        <div class="card"> 
            <div class="card-img"></div>
            <div class="card-body">
                <h3>X-Mago</h3>
                <p>Pão frances, hamburguer, alface, tomate, cebola roxa, queijo prato e molho verde</p>
            </div>
        </div>
    </section>    
</body>
</html>