<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sobre.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <title>DRei's Burguer - Sobre</title>
</head>
<body>
    <header>
        <nav class="nav-superior">
            <ul id="menu-principal">
                <li><a href="index.html">Início</a></li>
                
            </ul>
        </nav>

        <h1>Conheça a Nossa História</h1>

        <div class="banner">
            <img src="/img/icone.jfif" alt="Banner da Hamburgueria">
        </div>
    </header>

    <main id="container-principal">
        <p class="dm-serif-display-regular">
            Fundada pela família Dos Reis em 1816, a DRei's Burguer nasceu do amor por hambúrgueres artesanais
            e do desejo de oferecer uma experiência saborosa, acolhedora e inesquecível aos nossos clientes.
            Utilizamos ingredientes selecionados e receitas exclusivas para garantir qualidade e sabor em cada mordida.
        </p>
    </main>
</body>
</html>